# Server
PORT=5000
NODE_ENV=development

# CognoDB
COGNODB_URI=bolt+s://db-bd01c921.bravo.databases.cognodb.com
COGNODB_USERNAME=cognodb
COGNODB_PASSWORD=YOUR_COGNODB_PASSWORD

# Frontend
FRONTEND_URL=http://localhost:3000

# AI
AI_PROVIDER=openrouter
AI_MODELS=z-ai/glm-5.2:free,google/gemma-4-31b-it:free,nvidia/nemotron-3-super-120b-a12b:free
OPENROUTER_API_KEY=YOUR_REAL_OPENROUTER_KEY
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1